

/*///////////////////////////////////
  // Navigation
  ///////////////////////////////////*/
  .znav-container:not([class*="sticky-"]) {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    z-index: 1030;
  }
  
  @media (max-width: 61.99em) {
    .znav-container {
      max-height: 100vh;
      /* 80vh;  */
      overflow-y: auto;
    }
  }
  
  .znav-container hr {
    margin: 2px 0;
  }
  
  .znav-container .navbar {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.01em;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.5;
  }
  
  .znav-container .navbar a.navbar-brand {
    font-size: 1.25rem;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-transition: color;
    -o-transition: color;
    transition: color;
  }
  
  .znav-container .navbar .navbar-toggler {
    padding: 0;
  }
  
  .znav-container ul {
    list-style-type: none;
    list-style-image: none;
    padding-left: 0;
  }
  
  @media (min-width: 62em) {
    .znav-container ul {
      margin-left: -1.4rem;
    }
  }
  
  .znav-container ul li {
    padding: 0;
    position: relative;
  }
  
  .znav-container ul li a:not(.btn) {
    display: block;
    padding: 0.4rem 1.4rem;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
  
  .znav-container ul li a:not(.btn):active, .znav-container ul li a:not(.btn):hover, .znav-container ul li a:not(.btn):focus, .znav-container ul li a:not(.btn):active:focus {
    text-decoration: none;
  }
  
  @media (max-width: 61.99em) {
    .znav-container ul li a:not(.btn) {
      margin-left: -1.4rem;
    }
  }
  
  .znav-container .dropdown, .znav-container .megamenu {
    border-radius: 3px;
  }
  
  @media (max-width: 61.99em) {
    .znav-container .dropdown, .znav-container .megamenu {
      display: none;
    }
  }
  
  @media (min-width: 62em) {
    .znav-container .dropdown, .znav-container .megamenu {
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      pointer-events: none;
      opacity: 0;
      display: none;
    }
  }
  
  .znav-container .megamenu ul li a {
    font-weight: 400;
    padding: 0.2rem 1.4rem;
  }
  
  .znav-container .has-dropdown > a {
    position: relative;
  }
  
  .znav-container .has-dropdown > a:after {
    content: '';
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    padding: 0;
    height: 6px;
    width: 6px;
    pointer-events: none;
    z-index: 2000;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: translate3d(-10px, 7px, 0) rotate(45deg);
    transform: translate3d(-10px, 7px, 0) rotate(45deg);
  }
  
  @media (min-width: 62em) {
    .znav-container .has-dropdown > a:after {
      -webkit-transform: translate3d(-5px, 5px, 0) rotate(45deg);
      transform: translate3d(-5px, 5px, 0) rotate(45deg);
    }
  }
  
  .znav-container .has-dropdown > a:after {
    top: 6px;
  }
  
  @media (max-width: 61.99em) {
    .znav-container .has-dropdown > a:after {
      right: 17px;
    }
  }
  
  @media (max-width: 61.99em) {
    .znav-container .has-dropdown .has-dropdown > a:after {
      right: -1px;
    }
  }
  
  .znav-container .has-dropdown .dropdown {
    left: 0;
    min-width: 160px;
    padding: 0.4rem 0;
  }
  
  .znav-container .has-megamenu > a {
    position: relative;
  }
  
  .znav-container .has-megamenu > a:after {
    content: '';
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    padding: 0;
    height: 6px;
    width: 6px;
    pointer-events: none;
    z-index: 2000;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: translate3d(-10px, 7px, 0) rotate(45deg);
    transform: translate3d(-10px, 7px, 0) rotate(45deg);
  }
  
  @media (min-width: 62em) {
    .znav-container .has-megamenu > a:after {
      -webkit-transform: translate3d(-5px, 5px, 0) rotate(45deg);
      transform: translate3d(-5px, 5px, 0) rotate(45deg);
    }
  }
  
  .znav-container .has-megamenu > a:after {
    top: 6px;
  }
  
  @media (max-width: 61.99em) {
    .znav-container .has-megamenu > a:after {
      right: 17px;
    }
  }
  
  @media (max-width: 61.99em) {
    .znav-container ul.navbar-nav {
      padding: 1.4rem 0;
    }
  }
  
  @media (max-width: 61.99em) {
    .znav-container ul.navbar-nav > li .btn {
      width: 100%;
      margin: 5px 0;
    }
  }
  
  @media (max-width: 61.99em) {
    .znav-container ul.navbar-nav > li.has-dropdown ul.dropdown {
      padding-left: 2.5rem;
      margin-right: 1.4rem;
    }
    .znav-container ul.navbar-nav > li.has-dropdown ul.dropdown .has-dropdown > a:after {
      top: 0;
    }
    .znav-container ul.navbar-nav .z-active > .megamenu, .znav-container ul.navbar-nav .z-active > .dropdown {
      display: block;
    }
    .znav-container ul.navbar-nav > li.has-megamenu .megamenu {
      padding-left: 2.5rem;
    }
    .znav-container ul.navbar-nav .mt-sm-down-1 {
      margin-top: 1.4rem !important;
    }
  }
  
  @media (min-width: 62em) {
    .znav-container ul.navbar-nav li.has-dropdown .has-dropdown > a:after {
      border-top: 2px solid currentColor;
      border-bottom: 0;
      top: 8px;
      right: 15px;
    }
    .znav-container ul.navbar-nav li.has-dropdown .has-dropdown:active > a:after, .znav-container ul.navbar-nav li.has-dropdown .has-dropdown:hover > a:after, .znav-container ul.navbar-nav li.has-dropdown .has-dropdown:focus > a:after, .znav-container ul.navbar-nav li.has-dropdown .has-dropdown:active:focus > a:after {
      -webkit-transform: translate3d(2px, 5px, 0) rotate(45deg);
      transform: translate3d(2px, 5px, 0) rotate(45deg);
    }
    .znav-container ul.navbar-nav li.has-dropdown ul.dropdown {
      display: block;
      position: absolute;
      margin-left: 0;
      padding: 1.4rem 0;
    }
    .znav-container ul.navbar-nav li.has-dropdown > ul.dropdown ul.dropdown {
      left: 100%;
      top: -0.2rem;
    }
    .znav-container ul.navbar-nav li.has-dropdown > ul.dropdown ul.dropdown.dropdown-push-left {
      left: auto;
      right: 100%;
    }
    .znav-container ul.navbar-nav li.has-dropdown > ul.dropdown.dropdown-align-right {
      left: auto;
      right: 0;
    }
    .znav-container ul.navbar-nav li.has-dropdown:active > ul.dropdown, .znav-container ul.navbar-nav li.has-dropdown:hover > ul.dropdown, .znav-container ul.navbar-nav li.has-dropdown:focus > ul.dropdown, .znav-container ul.navbar-nav li.has-dropdown:active:focus > ul.dropdown {
      pointer-events: all;
      opacity: 1;
    }
    .znav-container ul.navbar-nav li.has-dropdown ul.dropdown.opened {
      opacity: 1;
      pointer-events: all;
    }
    .znav-container ul.navbar-nav > li.has-megamenu {
      position: static;
    }
    .znav-container ul.navbar-nav > li.has-megamenu .megamenu {
      display: block;
      border-radius: 3px;
      left: 0;
      position: absolute;
    }
    .znav-container ul.navbar-nav > li.has-megamenu .megamenu .gutter-0 {
      padding: 0;
    }
    .znav-container ul.navbar-nav > li.has-megamenu:active .megamenu, .znav-container ul.navbar-nav > li.has-megamenu:hover .megamenu, .znav-container ul.navbar-nav > li.has-megamenu:focus .megamenu, .znav-container ul.navbar-nav > li.has-megamenu:active:focus .megamenu {
      pointer-events: all;
      opacity: 1;
    }
  }
  
  .znav-container {
    background-color: #141414;
  }
  
  .znav-container hr {
    border-top-color: rgba(250, 250, 250, 0.05);
  }
  
  .znav-container button {
    color: #fafafa;
  }
  
  .znav-container a:not(.btn) {
    color: rgba(250, 250, 250, 0.6);
  }
  
  .znav-container a:not(.btn):active, .znav-container a:not(.btn):hover, .znav-container a:not(.btn):focus, .znav-container a:not(.btn):active:focus {
    color: #fafafa;
  }
  
  .znav-container a.navbar-brand {
    color: #fafafa;
  }
  
  .znav-container [class*='has-']:after {
    color: #fafafa;
  }
  
  .znav-container .megamenu, .znav-container .dropdown {
    color: #fafafa;
    background-color: #141414;
  }
  
  @media (min-width: 62em) {
    .znav-container .megamenu, .znav-container .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-primary {
    background-color: #007AFF;
  }
  
  .znav-primary hr {
    border-top-color: rgba(250, 250, 250, 0.05);
  }
  
  .znav-primary button {
    color: #fafafa;
  }
  
  .znav-primary a:not(.btn) {
    color: rgba(250, 250, 250, 0.6);
  }
  
  .znav-primary a:not(.btn):active, .znav-primary a:not(.btn):hover, .znav-primary a:not(.btn):focus, .znav-primary a:not(.btn):active:focus {
    color: #fafafa;
  }
  
  .znav-primary a.navbar-brand {
    color: #fafafa;
  }
  
  .znav-primary [class*='has-']:after {
    color: #fafafa;
  }
  
  .znav-primary .megamenu, .znav-primary .dropdown {
    color: #fafafa;
    background-color: #007AFF;
  }
  
  @media (min-width: 62em) {
    .znav-primary .megamenu, .znav-primary .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-success {
    background-color: #4CD964;
  }
  
  .znav-success hr {
    border-top-color: rgba(250, 250, 250, 0.05);
  }
  
  .znav-success button {
    color: #fafafa;
  }
  
  .znav-success a:not(.btn) {
    color: rgba(250, 250, 250, 0.6);
  }
  
  .znav-success a:not(.btn):active, .znav-success a:not(.btn):hover, .znav-success a:not(.btn):focus, .znav-success a:not(.btn):active:focus {
    color: #fafafa;
  }
  
  .znav-success a.navbar-brand {
    color: #fafafa;
  }
  
  .znav-success [class*='has-']:after {
    color: #fafafa;
  }
  
  .znav-success .megamenu, .znav-success .dropdown {
    color: #fafafa;
    background-color: #4CD964;
  }
  
  @media (min-width: 62em) {
    .znav-success .megamenu, .znav-success .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-info {
    background-color: #5AC8FA;
  }
  
  .znav-info hr {
    border-top-color: rgba(250, 250, 250, 0.05);
  }
  
  .znav-info button {
    color: #fafafa;
  }
  
  .znav-info a:not(.btn) {
    color: rgba(250, 250, 250, 0.6);
  }
  
  .znav-info a:not(.btn):active, .znav-info a:not(.btn):hover, .znav-info a:not(.btn):focus, .znav-info a:not(.btn):active:focus {
    color: #fafafa;
  }
  
  .znav-info a.navbar-brand {
    color: #fafafa;
  }
  
  .znav-info [class*='has-']:after {
    color: #fafafa;
  }
  
  .znav-info .megamenu, .znav-info .dropdown {
    color: #fafafa;
    background-color: #5AC8FA;
  }
  
  @media (min-width: 62em) {
    .znav-info .megamenu, .znav-info .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-warning {
    background-color: #FF9500;
  }
  
  .znav-warning hr {
    border-top-color: rgba(20, 20, 20, 0.05);
  }
  
  .znav-warning button {
    color: #141414;
  }
  
  .znav-warning a:not(.btn) {
    color: rgba(20, 20, 20, 0.6);
  }
  
  .znav-warning a:not(.btn):active, .znav-warning a:not(.btn):hover, .znav-warning a:not(.btn):focus, .znav-warning a:not(.btn):active:focus {
    color: #141414;
  }
  
  .znav-warning a.navbar-brand {
    color: #141414;
  }
  
  .znav-warning [class*='has-']:after {
    color: #141414;
  }
  
  .znav-warning .megamenu, .znav-warning .dropdown {
    color: #141414;
    background-color: #FF9500;
  }
  
  @media (min-width: 62em) {
    .znav-warning .megamenu, .znav-warning .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-danger {
    background-color: #FF3B30;
  }
  
  .znav-danger hr {
    border-top-color: rgba(250, 250, 250, 0.05);
  }
  
  .znav-danger button {
    color: #fafafa;
  }
  
  .znav-danger a:not(.btn) {
    color: rgba(250, 250, 250, 0.6);
  }
  
  .znav-danger a:not(.btn):active, .znav-danger a:not(.btn):hover, .znav-danger a:not(.btn):focus, .znav-danger a:not(.btn):active:focus {
    color: #fafafa;
  }
  
  .znav-danger a.navbar-brand {
    color: #fafafa;
  }
  
  .znav-danger [class*='has-']:after {
    color: #fafafa;
  }
  
  .znav-danger .megamenu, .znav-danger .dropdown {
    color: #fafafa;
    background-color: #FF3B30;
  }
  
  @media (min-width: 62em) {
    .znav-danger .megamenu, .znav-danger .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-dark {
    background-color: #141414;
  }
  
  .znav-dark hr {
    border-top-color: rgba(250, 250, 250, 0.05);
  }
  
  .znav-dark button {
    color: #fafafa;
  }
  
  .znav-dark a:not(.btn) {
    color: rgba(250, 250, 250, 0.6);
  }
  
  .znav-dark a:not(.btn):active, .znav-dark a:not(.btn):hover, .znav-dark a:not(.btn):focus, .znav-dark a:not(.btn):active:focus {
    color: #fafafa;
  }
  
  .znav-dark a.navbar-brand {
    color: #fafafa;
  }
  
  .znav-dark [class*='has-']:after {
    color: #fafafa;
  }
  
  .znav-dark .megamenu, .znav-dark .dropdown {
    color: #fafafa;
    background-color: #141414;
  }
  
  @media (min-width: 62em) {
    .znav-dark .megamenu, .znav-dark .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  .znav-white {
    background-color: white;
  }
  
  .znav-white hr {
    border-top-color: rgba(20, 20, 20, 0.05);
  }
  
  .znav-white button {
    color: #141414;
  }
  
  .znav-white a:not(.btn) {
    color: rgba(20, 20, 20, 0.6);
  }
  
  .znav-white a:not(.btn):active, .znav-white a:not(.btn):hover, .znav-white a:not(.btn):focus, .znav-white a:not(.btn):active:focus {
    color: #141414;
  }
  
  .znav-white a.navbar-brand {
    color: #141414;
  }
  
  .znav-white [class*='has-']:after {
    color: #141414;
  }
  
  .znav-white .megamenu, .znav-white .dropdown {
    color: #141414;
    background-color: white;
  }
  
  @media (min-width: 62em) {
    .znav-white .megamenu, .znav-white .dropdown {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }
  }
  
  @media (min-width: 62em) {
    .znav-white .dropdown, .znav-white .megamenu {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    }
  }
  
  .znav-semi-transparent.znav-white {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.95) 0%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, white 100%);
  }
  
  .znav-semi-transparent.znav-dark {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.9)), to(#141414));
    background: -webkit-linear-gradient(top, rgba(20, 20, 20, 0.9) 0%, #141414 100%);
    background: -o-linear-gradient(top, rgba(20, 20, 20, 0.9) 0%, #141414 100%);
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, #141414 100%);
  }
  
  @media (max-width: 61.99em) {
    .znav-semi-transparent .dropdown, .znav-semi-transparent .megamenu {
      background-color: transparent;
    }
  }
  
  .znav-transparent {
    position: absolute !important;
  }
  
  .znav-transparent.znav-container {
    background-color: transparent;
  }
  
  .znav-transparent.znav-container .navbar-nav > li > a:not(.btn) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .navbar-toggler {
    border: 0;
    height: 50px;
    overflow: hidden;
  }
  
  .hamburger {
    position: relative;
    height: 50px;
    width: 50px;
  }
  
  .hamburger .hamburger-box {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 15%;
  }
  
  .hamburger .hamburger-box .hamburger-inner {
    margin-top: 0;
  }
  
  .hamburger .hamburger-box .hamburger-inner, .hamburger .hamburger-box .hamburger-inner::after, .hamburger .hamburger-box .hamburger-inner::before {
    width: 100%;
    height: 1px;
    border-radius: 3px;
    background-color: currentColor;
  }
  
  .hamburger.is-active .hamburger-inner {
    background-color: transparent;
  }
  
  .hamburger-inner::before {
    top: -7px;
  }
  
  .hamburger--emphatic .hamburger-inner::after {
    top: 7px;
  }
  
  .znav-fixed {
    position: fixed !important;
  }
  
  .znav-revealed {
    position: fixed;
  }