table {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
}
button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #03fca1;
    text-decoration: underline;
    cursor: pointer;
  }