<section class="text-center py-6" id="footer-7">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12"><img class="logo-image" src="assets\images\branding\kfb_very_small_logo.png" alt="Logo" width="60"/></div>
      <div class="col-12 fw-600 fs--1 mt-4">
        <a class="color-8 mx-2 d-inline-block" href="#">Home</a>
        <a class="color-8 mx-2 d-inline-block" href="#">About</a>
        <a class="color-8 mx-2 d-inline-block" href="#">Contact Us</a></div>
      <div class="col-6">
        <hr class="border-color-9 my-4" />
      </div>
      <div class="col-12">
        <h6 class="color-8">&copy; Copyright 2020 KLUTCH FANTASY BASKETBALL - v0.0.101</h6>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--  -->
<!--    JavaScripts-->
<!--    =============================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="./../assets/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="./../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../assets/js/imagesloaded.pkgd.js"></script>
<script src="./../assets/lib/@fontawesome/js/all.min.js"></script>
<script src="./../assets/js/TweenMax.js"></script>
<script src="./../assets/js/CustomEase.js"></script>
<script src="./../assets/js/ScrollToPlugin.js"></script>
<script src="./../assets/js/Utils.js"></script>
<script src="./../assets/js/detector.js"></script>
<script src="./../assets/js/inertia.js"></script>
<script src="./../assets/lib/sticky-kit/dist/sticky-kit.min.js"></script>
<script src="./../assets/lib/stickyfilljs/dist/stickyfill.min.js"></script>
<script src="./../assets/js/stickykit.js"></script>
<script src="./../assets/js/stickyfill.js"></script>
<script src="./../assets/js/zanimation.js"></script>
<script src="./../assets/js/border-animation.js"></script>
<script src="./../assets/lib/remodal/dist/remodal.js"></script>
<script src="./../assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="./../assets/lib/semantic-ui-dropdown/dropdown.min.js"></script>
<script src="./../assets/lib/semantic-ui-accordion/accordion.min.js"></script>
<script src="./../assets/lib/semantic-ui-transition/transition.min.js"></script>
<script src="./../assets/lib/lightbox2/dist/js/lightbox.js"></script>
<script src="./../assets/lib/tableCollation.js"></script>
<script src="./../assets/js/countup.js"></script>
<script src="./../assets/js/googlemap.js"></script>
<script src="./../assets/lib/rellax/rellax.min.js"></script>
<script src="./../assets/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="./../assets/lib/isotope-packery/packery-mode.pkgd.min.js"></script>
<script src="./../assets/lib/typed.js/lib/typed.min.js"></script>
<script src="./../assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="./../assets/lib/flexslider/jquery.flexslider-min.js"></script>
<!--script(src!='https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap' async)-->
<!-- "Replace the source with this link. Note: YOUR_API_KEY should be replaced with your API key"-->
<script src="./../assets/js/core.js"></script>




<!-- <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright 2020 <strong><span>SimSports</span></strong>. All Rights Reserved - v0.0.96
    </div>
  </div>
</footer> -->