<div class="box">
	<ngx-spinner [fullScreen]="true" type="ball-spin-fade" size="medium">
		<p class="loading">Loading Schedule...</p>
	</ngx-spinner>

	<div class="row justify-content-center mt-2 mb-2 color-1">
		<h6 class="fw-600 fs-0 ls color-10 mt-3 color-8" style="text-align:center">{{ this.getDaysViewing() }}</h6>
	</div>

	<div class="row justify-content-center mt-2 mb-2 color-1">
		<table class="table table-hover roster-table">
			<thead>
				<tr>
					<th>Game Day</th>
					<th>Away Team</th>
					<th>Home Team</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-secondary" *ngFor="let game of this.schedules">
					<td>
						Day #{{ game.day }}
					</td>
					<td>
						{{ game.awayTeam }}
					</td>
					<td>
						{{ game.homeTeam }}
					</td>
					<td>
						<button type="button" class="btn btn-link text-left" (click)="viewBoxScore(game)">{{
							game.awayScore }} - {{ game.homeScore }}</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row justify-content-center mt-2 mb-2 color-1">
		<div class="col colleft">
			<button type="button" class="btn btn-primary" (click)="getPrevDays()" *ngIf="!(this.gameDayViewing - 2 <= 0)">PREVIOUS</button>
		</div>
		<div class="col colright">
			<button type="button" class="btn btn-primary" (click)="getNextDays()" *ngIf="!(this.gameDayViewing + 2 >= 150)">NEXT</button>
		</div>
	</div>
</div>
