<ngx-spinner [fullScreen]="true" type="ball-spin-fade" size="medium">
	<p class="loading">Loading Go To Players...</p>
</ngx-spinner>
<div class="container">
	<div class="ui styled fluid accordion">
		<div class="title" (click)="toggleDepth()"><i class="fa fa-caret-right mr-3"
				*ngIf="this.depthAccordion == 0"></i><i class="fa fa-caret-down mr-3"
				*ngIf="this.depthAccordion == 1"></i> Depth Chart</div>

	</div>
	<div class="content" *ngIf="this.depthAccordion == 1">
		<div class="ui styled fluid accordion">
			<app-depthchart></app-depthchart>
		</div>
	</div>
	<div class="ui styled fluid accordion">
		<div class="title" (click)="toggleGoTo()"><i class="fa fa-caret-right mr-3"
				*ngIf="this.gotoAccordion == 0"></i><i class="fa fa-caret-down mr-3"
				*ngIf="this.gotoAccordion == 1"></i> Go To Players</div>
	</div>
	<div class="content" *ngIf="this.gotoAccordion == 1">
		<div class="ui styled fluid accordion">
			<div class="row justify-content-center mt-3 ml-4 mr-4 color-1">
				<p class="justify-content-center color-11">Go to players will receive Usage boosts when playing for your
					team.</p>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<h6 class="center color-11">Go To Player #1</h6>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<p class="lead color-7" *ngIf="this.coachSetting?.goToPlayerOne == 0 && this.isGoToEdit == 0">No player
					set</p>
				<p class="lead color-7" *ngIf="this.coachSetting?.goToPlayerOne != 0 && this.isGoToEdit == 0">{{
					this.getPlayerNameWithInjuredCheck(this.coachSetting?.goToPlayerOne, 1) }}</p>
				<select [(ngModel)]="gotoOne" *ngIf="this.isGoToEdit == 1">
					<option [value]="0"></option>
					<option *ngFor="let player of this.extendedPlayers" [value]="player.playerId">
						{{ this.getPlayerName(player.playerId) }}
					</option>
				</select>
			</div>


			<div class="row justify-content-center mt-3">
				<h6 class="center color-11">Go To Player #2</h6>
				<p class="lead color-8 center"></p>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<p class="lead color-7" *ngIf="this.coachSetting?.goToPlayerTwo == 0 && this.isGoToEdit == 0">No player
					set</p>
				<p class="lead color-7" *ngIf="this.coachSetting?.goToPlayerTwo != 0 && this.isGoToEdit == 0">{{
					this.getPlayerNameWithInjuredCheck(this.coachSetting?.goToPlayerTwo, 2) }}</p>
				<select [(ngModel)]="gotoTwo" *ngIf="this.isGoToEdit == 1">
					<option [value]="0"></option>
					<option *ngFor="let player of this.extendedPlayers" [value]="player.playerId">
						{{ this.getPlayerName(player.playerId) }}
					</option>
				</select>
			</div>


			<div class="row justify-content-center mt-3">
				<h6 class="center color-11">Go To Player #3</h6>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<p class="lead color-7" *ngIf="this.coachSetting?.goToPlayerThree == 0 && this.isGoToEdit == 0">No
					player set</p>
				<p class="lead color-7" *ngIf="this.coachSetting?.goToPlayerThree != 0 && this.isGoToEdit == 0">{{
					this.getPlayerNameWithInjuredCheck(this.coachSetting?.goToPlayerThree, 3) }}</p>
				<select [(ngModel)]="gotoThree" *ngIf="this.isGoToEdit == 1">
					<option [value]="0"></option>
					<option *ngFor="let player of this.extendedPlayers" [value]="player.playerId">
						{{ this.getPlayerName(player.playerId) }}
					</option>
				</select>
			</div>

			<div class="row justify-content-center mt-3">
				<button type="button" class="btn btn-primary btn-xs" (click)="editCoaching()"
					*ngIf="this.isGoToEdit == 0"><i class="fa fa-edit"></i></button>
				<button type="button" class="btn btn-primary btn-xs" (click)="saveCoaching()"
					*ngIf="this.isGoToEdit == 1"><i class="fa fa-save"></i></button>
				<button type="button" class="btn btn-danger btn-xs ml-1" (click)="cancelCoaching()"
					*ngIf="this.isGoToEdit == 1"><i class="fa fa-times"></i></button>
			</div>
			<br>
		</div>
	</div>
	<div class="ui styled fluid accordion">
		<div class="title" (click)="toggleStrategy()">
			<i class="fa fa-caret-right mr-3" *ngIf="this.strategyAccordion == 0"></i><i class="fa fa-caret-down mr-3"
				*ngIf="this.strategyAccordion == 1"></i> Team Strategies
		</div>
	</div>
	<div class="content" *ngIf="strategyAccordion == 1">
		<div class="ui styled fluid accordion">
			<div class="row justify-content-center mt-3 ml-4 mr-4 color-1">
				<p class="justify-content-center color-11">Set your team strategies for offence and defence.</p>
			</div>

			<div class="row justify-content-center mt-3 color-1">
				<h6 class="center color-11" >Offensive Strategy</h6>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<p *ngIf="this.isStrategyEdit == 0" class="lead color-7">Your offensive strategy - {{ this.teamStrategy?.offensiveStrategyName }}
					<ng-container *ngIf="this.teamStrategy == null"> No Strategy Set</ng-container>
				</p>
				<select [(ngModel)]="offStrategySelection" *ngIf="this.isStrategyEdit == 1">
					<option [value]="0"></option>
					<option *ngFor="let strategy of this.offStrategies" [value]="strategy.id">
						{{ strategy.name }}
					</option>
				</select>
			</div>
			<div class="row justify-content-center mt-3">
				<ul *ngFor="let strat of this.offStrategies">
					<p class="details"><b class="text-success">{{ strat.name }}</b> - {{ strat.description }}</p>
				</ul>
			</div>


			<div class="row justify-content-center mt-3 color-1">
				<h6 class="center color-11">Defensive Strategy</h6>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<p *ngIf="this.isStrategyEdit == 0" class="lead color-7">Your defensive strategy - {{ this.teamStrategy?.defensiveStrategyName }}
					<ng-container *ngIf="this.teamStrategy == null"> No Strategy Set</ng-container>
				</p>
				<select [(ngModel)]="defStrategySelection" *ngIf="this.isStrategyEdit == 1">
					<option [value]="0"></option>
					<option *ngFor="let strategy of this.defStrategies" [value]="strategy.id">
						{{ strategy.name }}
					</option>
				</select>
			</div>
			<div class="row justify-content-center mt-3 color-1">
				<ul *ngFor="let strat of this.defStrategies">
					<p class="details"><b class="text-success">{{ strat.name }}</b> - {{ strat.description }}</p>
				</ul>
			</div>

			<div class="row justify-content-center mt-3 color-1 mb-2">
				<button type="button" class="btn btn-primary btn-xs" (click)="editStrategy()" *ngIf="this.isStrategyEdit == 0"><i class="fa fa-edit"></i></button>
				<button type="button" class="btn btn-primary btn-xs" (click)="saveStrategy()" *ngIf="this.isStrategyEdit == 1"><i class="fa fa-save"></i></button>
				<button type="button" class="btn btn-danger btn-xs ml-3" (click)="cancelStrategy()" *ngIf="this.isStrategyEdit == 1"><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
</div>



<!-- 
				<div class="row edit-button" *ngIf="this.isEdit == 0">
					<button type="button" class="btn btn-primary" (click)="editOffensiveStrategy()">Edit</button>
				</div>
				<div class="row editing-buttons" *ngIf="this.isEdit == 1">
					
				</div>
			</div>
			

			<div class="row ml-3 mr-2 mt-3" *ngIf="this.defensiveStrategyTab == 1">
				
				<p class="ml-10 mt-3" *ngIf="this.isEdit == 1">
					
				</p>
				<div class="row edit-button" *ngIf="this.isEdit == 0">
					<button type="button" class="btn btn-primary" (click)="editDefensiveStrategy()">Edit</button>
				</div>
				<div class="row editing-buttons" *ngIf="this.isEdit == 1">
					<button type="button" class="btn btn-primary" (click)="saveStrategy()">Save</button>
					<button type="button" class="btn btn-danger ml-3"
						(click)="cancelDefensiveStrategy()">Cancel</button>
				</div>
			</div>
			<div class="row ml-3 mr-2 mt-4" *ngIf="this.defensiveStrategyTab == 1">
				<ul *ngFor="let strat of this.defStrategies">
					<p class="details"><b class="text-success">{{ strat.name }}</b> - {{ strat.description }}</p>
				</ul>
			</div>
		</div>
	</div>

</div> -->