<section class="py-sm-0 text-center" id="header-12">
	<br />
	<br />
	<div class="background-holder overlay overlay-0" style="background-image:url(./../assets/images/51.jpg);">
	</div>
	<!--/.background-holder-->
	<div class="container">
		<div class="row h-full align-items-center">
			<div class="col my-6">
				<h3 class="fs-lg-7 fw-600 color-white">{{ this.team?.teamname }} {{this.team?.mascot }}</h3>
				<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3">Season #{{ this.league?.year }} - 
				<span class="badge badge-pill badge-danger" *ngIf="this.league?.stateId == 1">{{ this.league?.state }}</span>
				<span class="badge badge-pill badge-info" *ngIf="this.league?.stateId == 2 || this.league?.stateId == 6">{{	this.league?.state }}</span>
				<span class="badge badge-pill badge-success" *ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5 || this.league?.stateId == 11 || this.league?.stateId == 13 || this.league?.stateId == 14">{{ this.league?.state }}</span>
				<span class="badge badge-pill badge-primary" *ngIf="this.league?.stateId == 7">{{ this.league?.state }}</span>
				<span class="badge badge-pill badge-warning" *ngIf="this.league?.stateId == 8 || this.league?.stateId == 9 || this.league?.stateId == 15">{{ this.league?.state }}</span>
				<span class="badge badge-pill badge-secondary" *ngIf="this.league?.stateId == 10">{{ this.league?.state	}}</span>
				<span class="badge badge-pill badge-danger" *ngIf="this.league?.stateId >= 6 && this.league?.stateId != 12 && this.league?.stateId != 13 && this.league?.stateId != 14"></span>
				- Day #{{ this.league?.day }} - ({{ this.teamRecord?.wins }} - {{ this.teamRecord?.losses }})</h6>


				<div class="row justify-content-center">
					<div class="col-lg-8">
						<!-- <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-3 owl-theme-white"
							data-dots="true" data-nav="true"
							data-options='{"items":1,"loop":true,"autoplay":true,"dots":true,"autoplayHoverPause":true}'> -->
							<div class="item px-xl-5">
								<p class="lead color-8">Manage your team, view your roster, set your coaching settings investigate trades and free agents .</p>
							</div>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</section>

<div class="tabs">
	<div class="nav-bar nav-bar-center">
		<div class="nav-bar-item color-8" [ngClass]="this.rosterSelected == 1 ? 'active' : ''" (click)="this.rosterSelection()"><span class="fa fa-users fs-2"></span><br>Roster</div>
		<div class="nav-bar-item color-8" [ngClass]="this.coachingSelected == 1 ? 'active' : ''" (click)="this.coachingSelection()"><span class="fa fa-bullhorn fs-2"></span><br>Coaching</div>
		<div *ngIf="this.league?.stateId >= 3" class="nav-bar-item color-8" [ngClass]="this.finacnesSelected == 1 ? 'active' : ''" (click)="this.finacnesSelection()"><span class="fa fa-list-ol fs-2"></span><br>Finances</div>
		<div *ngIf="this.league?.stateId >= 3" class="nav-bar-item color-8" [ngClass]="this.tradesSelected == 1 ? 'active' : ''" (click)="this.tradesSelection()"><span class="fa fa-retweet fs-2"></span><br>Trades</div>
		<div *ngIf="this.league?.stateId >= 5" class="nav-bar-item color-8" [ngClass]="this.freeagentsSelected == 1 ? 'active' : ''" (click)="this.freeagentsSelection()"><span class="fa fa-list fs-2"></span><br>Free Agents</div>
	</div>
	<div class="tab-contents">
		<div class="tab-content active" *ngIf="this.rosterSelected == 1">
			<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3 color-8" style="text-align:center">Roster</h6>
			<app-roster></app-roster>
		</div>
		<div class="tab-content active" *ngIf="this.coachingSelected == 1">
			<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3 color-8" style="text-align:center">Coaching</h6>
			<app-coaching></app-coaching>
		</div>
		<div class="tab-content active" *ngIf="this.finacnesSelected == 1">
			<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3 color-8" style="text-align:center">Finances</h6>
			<app-finances></app-finances>
		</div>
		<div class="tab-content active" *ngIf="this.tradesSelected == 1">
			<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3 color-8" style="text-align:center">Trades</h6>
			<app-trades></app-trades>
		</div>
		<div class="tab-content active" *ngIf="this.freeagentsSelected == 1">
			<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3 color-8" style="text-align:center">Free Agents</h6>
			<app-freeagents></app-freeagents>
		</div>
	</div>