.dashboard-area {
    position: relative;
    text-align: center;
    background: #202120;
    overflow: hidden;
}
.dashboard-area h3, span {
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #ffffff;
}

table { 
    border-spacing: 10px;
    /* border-collapse: separate; */
}

.tablebutton {
    margin-left:5px;
}

.cards-row {
    padding: 5px;
    display: flex;
    justify-content: center;
}