<section class="py-sm-0 text-center" id="header-12">
	<br />
	<br />
	<div class="background-holder overlay overlay-0" style="background-image:url(./../assets/images/51.jpg);">
	</div>
	<!--/.background-holder-->
	<div class="container">
		<div class="row h-full align-items-center">
			<div class="col my-6">
				<h3 class="fs-lg-7 fw-600 color-white">INBOX</h3>
				<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3">Season #{{ this.league?.year }} -
					<span class="badge badge-pill badge-danger" *ngIf="this.league?.stateId == 1">{{ this.league?.state
						}}</span>
					<span class="badge badge-pill badge-info"
						*ngIf="this.league?.stateId == 2 || this.league?.stateId == 6">{{ this.league?.state }}</span>
					<span class="badge badge-pill badge-success"
						*ngIf="this.league?.stateId == 3 || this.league?.stateId == 4 || this.league?.stateId == 5 || this.league?.stateId == 11 || this.league?.stateId == 13 || this.league?.stateId == 14">{{
						this.league?.state }}</span>
					<span class="badge badge-pill badge-primary" *ngIf="this.league?.stateId == 7">{{ this.league?.state
						}}</span>
					<span class="badge badge-pill badge-warning"
						*ngIf="this.league?.stateId == 8 || this.league?.stateId == 9 || this.league?.stateId == 15">{{
						this.league?.state }}</span>
					<span class="badge badge-pill badge-secondary" *ngIf="this.league?.stateId == 10">{{
						this.league?.state }}</span>
					<span class="badge badge-pill badge-danger"
						*ngIf="this.league?.stateId >= 6 && this.league?.stateId != 12 && this.league?.stateId != 13 && this.league?.stateId != 14"></span>
					- Day #{{ this.league?.day }}
				</h6>


				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="item px-xl-5">
							<p class="lead color-8">View and send messages to other team GMs. You will also get notifications about trades and player signings here.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</section>

<div class="box">
  <div class="container">
    <div class="row justify-content-center mt-3 color-1">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>
              New
            </th>
            <th>
              Date
            </th>
            <th>
              From
            </th>
            <th>
              Subject
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody *ngIf="this.messages.length > 0">
          <tr class="table" *ngFor="let mes of this.messages">
            <td>
              <span class="badge badge-success" *ngIf="mes.isNew == 1">New</span>
            </td>
            <td>
              <p class="color-9">{{ mes.messageDate }}</p>
            </td>
            <td>
              <b>{{ mes.senderTeam }}'s GM</b>
            </td>
            <td>
              <b>{{ mes.subject }}</b>
            </td>
            <td>
              <button class="btn btn-info btn-xs tablebutton" (click)="openModal(viewmessage, mes)">View</button>
              <button class="btn btn-danger btn-xs tablebutton ml-2" (click)="deleteMessage(mes.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-info btn-xs tablebutton ml-2" (click)="openModalNew(newmessage)"><i class="fa fa-plus-square"></i> New</button>
    </div>
    <div class="row justify-content-center mt-3 color-1" *ngIf="this.messages.length == 0">
      <p class="lead color-7">No messages are available to be displayed</p>
    </div>
  </div>
</div>


<!-- 
  <div class="container">
    <div class="row cards-row">
      
      <br />
      
    </div>
  </div>
</div> -->




<ng-template #viewmessage>
  <div class="modal-header">
    <h6 class="fw-600 fs-0 ls color-10 mt-3 color-8" style="text-align:center" *ngIf="this.messageState == 1">View Message</h6>
    <h6 class="fw-600 fs-0 ls color-10 mt-3 color-8" style="text-align:center" *ngIf="this.messageState == 2 && this.viewedMessage.senderId != 0">Reply</h6>
    <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
  </div>
  <div class="modal-body" *ngIf="this.messageState == 1">
    <h6 class="fw-600 fs-0 ls color-10 mt-3 color-8"><b>From: </b>{{ this.viewedMessage.senderTeam }}'s GM</h6>
    <br />
    <h6 class="fw-600 fs-0 ls color-10 mt-3 color-8"><b>Subject:</b> </h6>
    <p class="lead color-7">{{ this.viewedMessage.subject }}</p>
    <br />
    <h6 class="fw-600 fs-0 ls color-10 mt-3 color-8"><b>Message:</b></h6>
    <p class="lead color-7">{{ this.viewedMessage.body }}</p>
  </div>
  <div class="modal-body" *ngIf="this.messageState == 2">
    <form #messageform (ngSubmit)="updateMessageForm()">
      <div class="form-group row">
        <label class="col-md-6 control-label color-8" for="textinput">To: {{ this.viewedMessage.senderTeam }}</label>
      </div>
      <div class="form-group row">
        <label class="col-md-6 control-label color-8" for="textinput">Subject: </label>
        <label class="col-md-6 control-label color-8" for="textinput">{{ this.replySubject }}</label>
        <label class="col-md-6 control-label color-8" for="textinput">Body: </label>
        <textarea class="form-control ml-3 mr-3" id="body" rows="4"></textarea>
      </div>
      <div class="modal-footer form-group text-center">
        <button type="submit" class="btn btn-primary btn-sm">Send</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="cancelReply()">Cancel</button>
      </div>
    </form>
  </div>
  <div class="modal-footer form-group text-center" *ngIf="this.messageState == 1">
    <button type="submit" class="btn btn-primary btn-sm" (click)="replyAction()">Reply</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="deleteMessageFromModal()">Delete</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>


<ng-template #newmessage>
  <div class="modal-header">
    <h6 class="fw-600 fs-0 ls color-10 mt-3 color-8">New Message</h6>
    <button type="button" class="close pull-right" (click)="modalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <form #messageform (ngSubmit)="newMessageForm()">
      <div class="form-group row">
        <label class="col-md-6 control-label color-8" for="textinput">To: </label>
        <select name="teamsOption" [(ngModel)]="selectedTeam">
          <option *ngFor="let team of this.teams" [value]="team.teamId">{{ team.mascot }}</option>
        </select>
      </div>
      <div class="form-group row">
        <label class="col-md-6 control-label color-8 mt-1" for="textinput">Subject: </label>
        <input type="text" class="form-control ml-3 mr-3" id="subject">
        <label class="col-md-6 control-label color-8 mt-1" for="textinput">Body: </label>
        <textarea class="form-control ml-3 mr-3" id="body" rows="4"></textarea>
      </div>
      <div class="modal-footer form-group text-center">
        <button type="submit" class="btn btn-primary btn-sm">Send</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="modalRef.hide()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>