<div class="box">
	<ngx-spinner [fullScreen]="true" type="ball-spin-fade" size="medium">
		<p class="loading">Loading Awards...</p>
	</ngx-spinner>

	<div class="row justify-content-center mt-2 mb-2 ml-2 mr-2 color-1" *ngIf="this.league?.stateId >= 7">
		<div class="card">
			<h4><i class="fa fa-trophy" aria-hidden="true"></i> MVP Ranking</h4>
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tr *ngFor="let player of this.mvpList; let i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ player.playerName }}</td>
					<td>{{ player.teamName }}</td>
					<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><i
								class="fa fa-eye"></i></button></td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h4><i class="fa fa-trophy" aria-hidden="true"></i> 6th Man Rankings</h4>
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tr *ngFor="let player of this.sixthList; let i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ player.playerName }}</td>
					<td>{{ player.teamName }}</td>
					<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><i
								class="fa fa-eye"></i></button></td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h4><i class="fa fa-trophy" aria-hidden="true"></i> DPOY Rankings</h4>
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tr *ngFor="let player of this.dpoyList; let i = index">
					<td>{{ i + 1 }}</td>
					<td>{{ player.playerName }}</td>
					<td>{{ player.teamName }}</td>
					<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><i
								class="fa fa-eye"></i></button></td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h4><i class="fa fa-trophy" aria-hidden="true"></i> All-ABA First Team</h4>
			<table>
				<thead>
					<tr>
						<th>Position</th>
						<th>Player</th>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tr *ngFor="let player of this.firstTeam; let i = index">
					<td *ngIf="i == 0">PG</td>
					<td *ngIf="i == 1">SG</td>
					<td *ngIf="i == 2">SF</td>
					<td *ngIf="i == 3">PF</td>
					<td *ngIf="i == 4">C</td>
					<td>{{ player.playerName }}</td>
					<td>{{ player.teamName }}</td>
					<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><i
								class="fa fa-eye"></i></button></td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h4><i class="fa fa-trophy" aria-hidden="true"></i> All-ABA Second Team</h4>
			<table>
				<thead>
					<tr>
						<th>Position</th>
						<th>Player</th>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tr *ngFor="let player of this.secondTeam; let i = index">
					<td *ngIf="i == 0">PG</td>
					<td *ngIf="i == 1">SG</td>
					<td *ngIf="i == 2">SF</td>
					<td *ngIf="i == 3">PF</td>
					<td *ngIf="i == 4">C</td>
					<td>{{ player.playerName }}</td>
					<td>{{ player.teamName }}</td>
					<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><i
								class="fa fa-eye"></i></button></td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h4><i class="fa fa-trophy" aria-hidden="true"></i> All-ABA Third Team</h4>
			<table>
				<thead>
					<tr>
						<th>Position</th>
						<th>Player</th>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tr *ngFor="let player of this.thirdTeam; let i = index">
					<td *ngIf="i == 0">PG</td>
					<td *ngIf="i == 1">SG</td>
					<td *ngIf="i == 2">SF</td>
					<td *ngIf="i == 3">PF</td>
					<td *ngIf="i == 4">C</td>
					<td>{{ player.playerName }}</td>
					<td>{{ player.teamName }}</td>
					<td><button class="btn btn-info btn-xs tablebutton" (click)="viewPlayer(player.playerId)"><i
								class="fa fa-eye"></i></button></td>
				</tr>
			</table>
		</div>
	</div>
</div>