<section class="py-sm-0 text-center" id="header-12">
	<br />
	<br />
	<div class="background-holder overlay overlay-0" style="background-image:url(./../assets/images/51.jpg);">
	</div>
	<!--/.background-holder-->
	<div class="container">
		<div class="row h-full align-items-center">
			<div class="col my-6">
				<h3 class="fs-lg-7 fw-600 color-white">{{ this.team?.teamname }} {{this.team?.mascot }}</h3>
				<h6 class="fw-600 fs-0 ls color-10 mb-6 mt-3">({{ this.teamRecord?.wins }} - {{ this.teamRecord?.losses }})</h6>

				<div class="row justify-content-center">
					<div class="col-lg-8">
							<div class="item px-xl-5">
								<p class="lead color-8">Current Salary - ${{ this.teamCap?.currentSalaryAmount | number }}</p>
								<p class="lead color-8">League Salary Cap - ${{ this.teamCap?.salaryCapAmount | number }}</p>
								<p class="lead color-8">Cap Space Remaining - ${{ this.remainingCapSpace | number }}</p>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</section>

<!-- <div class="row h-full align-items-center"> -->
<section>
	<ngx-spinner [fullScreen]="true" type="ball-spin-fade" size="medium">
		<p class="loading">Loading Roster...</p>
	</ngx-spinner>	
	<div class="row ml-3 mr-2">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="" [ngClass]="this.statusStats ? 'active' : ''"
					(click)="statisticsClick()">Statistics</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="" [ngClass]="this.statusGrades ? 'active' : ''"
					(click)="gradesClick()">Grades</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="" [ngClass]="this.statusContracts ? 'active' : ''"
					(click)="contractsClick()">Player Contracts</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-hover roster-table" *ngIf="this.playerCount != 0 && this.statusGrades == 1">
				<thead>
					<tr>
						<th>Name</th>
						<th>Position(s)</th>
						<th>Age</th>
						<th>2pt</th>
						<th>3pt</th>
						<th>Ft</th>
						<th>O-Reb</th>
						<th>D-Reb</th>
						<th>Handling</th>
						<th>Passing</th>
						<th>Block</th>
						<th>Steal</th>
						<th>Stamina</th>
						<th>Intangibles</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" *ngFor="let player of this.playingRoster">
						<td>
							<button class="link-button" (click)="viewPlayer(player.firstName, player.surname)">{{
								player.firstName }} {{ player.surname }}</button> <span
								*ngIf="checkIfInjured(player.playerId) == 1">&nbsp;<i class="fa fa-medkit"></i></span>
						</td>
						<td>
							<ng-container *ngIf="player.pgPosition == 1">PG </ng-container>
							<ng-container *ngIf="player.sgPosition == 1">SG </ng-container>
							<ng-container *ngIf="player.sfPosition == 1">SF </ng-container>
							<ng-container *ngIf="player.pfPosition == 1">PF </ng-container>
							<ng-container *ngIf="player.cPosition == 1">C </ng-container>
						</td>
						<td>
							{{ player.age }}
						</td>
						<td>
							{{ player.twoGrade }}
						</td>
						<td>
							{{ player.threeGrade }}
						</td>
						<td>
							{{ player.ftGrade }}
						</td>
						<td>
							{{ player.oRebGrade }}
						</td>
						<td>
							{{ player.dRebGrade }}
						</td>
						<td>
							{{ player.handlingGrade }}
						</td>
						<td>
							{{ player.passingGrade }}
						</td>
						<td>
							{{ player.blockGrade }}
						</td>
						<td>
							{{ player.stealGrade }}
						</td>
						<td>
							{{ player.staminaGrade }}
						</td>
						<td>
							{{ player.intangiblesGrade }}
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-hover roster-table" *ngIf="this.playerCount != 0 && this.statusStats">
				<thead>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>G</th>
						<th>MP</th>
						<th>FG</th>
						<th>FGA</th>
						<th>FG%</th>
						<th>3P</th>
						<th>3PA</th>
						<th>3P%</th>
						<th>FT</th>
						<th>FTA</th>
						<th>FT%</th>
						<th>ORB</th>
						<th>DRB</th>
						<th>TRB</th>
						<th>AST</th>
						<th>STL</th>
						<th>BLK</th>
						<th>TOV</th>
						<th>PF</th>
						<th>PTS</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" *ngFor="let player of this.playingRoster">
						<td>
							<button class="link-button" (click)="viewPlayer(player.firstName, player.surname)">{{
								player.firstName }} {{ player.surname }}</button>
						</td>
						<td>
							{{ this.player?.age }}
						</td>
						<td>
							{{ this.player?.gamesStats }}
						</td>
						<td>
							{{ getMinutesAverage(player) }}
						</td>
						<td>
							{{ getFGAverage(player) }}
						</td>
						<td>
							{{ getFGAAverage(player) }}
						</td>
						<td>
							{{ getFgPercentage(player) }}
						</td>
						<td>
							{{ getThreeFGAverage(player) }}
						</td>
						<td>
							{{ getThreeFGAAverage(player) }}
						</td>
						<td>
							{{ getThreeFgPercentage(player) }}
						</td>
						<td>
							{{ getFTAverage(player) }}
						</td>
						<td>
							{{ getFTAAverage(player) }}
						</td>
						<td>
							{{ getFTPercentage(player) }}
						</td>
						<td>
							{{ getOrebAverage(player) }}
						</td>
						<td>
							{{ getDrebverage(player) }}
						</td>
						<td>
							{{ getTotalRebAverage(player) }}
						</td>
						<td>
							{{ getTotalAstAverage(player) }}
						</td>
						<td>
							{{ getTotalStlAverage(player) }}
						</td>
						<td>
							{{ getTotalBlkAverage(player) }}
						</td>
						<td>
							{{ getTotalTovAverage(player) }}
						</td>
						<td>
							{{ getTotalFoulsAverage(player) }}
						</td>
						<td>
							{{ getTotalPointsAverage(player) }}
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-hover roster-table" *ngIf="this.statusContracts">
				<thead>
					<tr>
						<th>Name</th>
						<th>Current Year</th>
						<th>2nd Year</th>
						<th>3rd Year</th>
						<th>4th Year</th>
						<th>5th Year</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-secondary" *ngFor="let player of this.teamContracts">
						<td>

							<button class="link-button" (click)="viewPlayerFromContract(player.playerName)">{{
								player?.playerName }}</button>
						</td>
						<td>
							${{ player?.yearOne | number }}
							<p *ngIf="player?.guranteedOne == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearTwo | number }}
							<p *ngIf="player?.guranteedTwo == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearThree | number }}
							<p *ngIf="player?.guranteedThree == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearFour | number }}
							<p *ngIf="player?.guranteedFour == 1"> - Guarenteed</p>
						</td>
						<td>
							${{ player?.yearFive | number }}
							<p *ngIf="player?.guranteedFive == 1"> - Guarenteed</p>
						</td>
						<td>
							<p *ngIf="player?.teamOption == 1">Team</p>
							<p *ngIf="player?.playerOption == 1">Player</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>