<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
</head>


<section class="text-center py-md-0" id="header-2">
  <div class="background-holder overlay overlay-0" style="background-image:url(./assets/images/bg002.jpg);">
    <div class="youtube-background" data-property="{&quot;videoURL&quot;:&quot;https://www.youtube.com/watch?v=iGpuQ0ioPrM&quot;,&quot;mute&quot;:true,&quot;showYTLogo&quot;:false}"></div>
  </div>
  <div class="container">
    <div class="row h-full align-items-center justify-content-center">
      <div class="col-11 col-sm-6 col-lg-7 mt-5 mt-sm-0">
        <h1 class="color-11 lh-f3 fs-4 fs-md-5">KLUTCH FANTASY BASKETBALL</h1>
        <p class="lead color-9 mt-4">Take ownership of your very own basketball franchise <br class="d-none d-lg-block">and compete against others from around the world </p>
        <a class="btn btn-danger btn-capsule mr-3 mt-4" data-fancyscroll href="#learnmore-section">
          <span class="fa fa-question-circle mr-3" data-fa-transform="grow-8"></span>
          Learn More
        </a>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>

<section class="text-center" id="features-10" id="learnmore-section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-8">
              <h2 class="mb-3 color-11">Realistic Basketball Simulation</h2>
              <p class="lead color-7">Using real life statistical data Klutch Fantasy Basketball provides a realistic basketball simulation, allowing you to compete withs other and run your own team!</p>
          </div>
      </div>
      <div class="row justify-content-center mt-4">
          <div class="col-xl-11">
              <div class="row">
                  <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
                      <div class="border radius-secondary border-color-10 border-2x px-4 py-5 h-100"><span class="fa fa-list-ol color-8 fs-5"></span>
                          <h5 class="color-9 pt-4 mb-3">Real Stats</h5>
                          <p>Our enginge simulates games using a vast array of realistic statistics from the last 7 years.</p>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
                      <div class="border radius-secondary border-color-10 border-2x px-4 py-5 h-100"><span class="fa fa-tasks color-8 fs-5"></span>
                          <h5 class="color-9 pt-4 mb-3">You are the GM</h5>
                          <p>Manage your own team, from initial draft, to lineups, to style of play to free agency, you have complete control over your franchise.</p>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
                      <div class="border radius-secondary border-color-10 border-2x px-4 py-5 h-100"><span class="fa fa-users color-8 fs-5"></span>
                          <h5 class="color-9 pt-4 mb-3">Multiplayer</h5>
                          <p>Join the current league and compete with 29 other users in your own full league where you control everything.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/.row-->
  </div>
  <!--/.container-->
</section>
<section class="text-center" id="pricing-1">
  <div class="container">
      <div class="row justify-content-center mt-5">
          <div class="col-md-9 col-lg-6">
              <div class="border radius-secondary border-color-10 p-4 p-md-6">
                  <h2 class="mb-3 color-10">Private league?</h2>
                  <p class="mb-2 color-7">Want your own private league? We can set your league up and run it for you so you can enjoy it with your friends.</p>
                  <hr class="color-9 short mb-5" />
                  <h1 class="color-black mt-3 mb-2 fs-7 color-facebook font-2 fw-100">$99</h1>
                  <h6 class="color-7 mb-5">per year</h6><a class="btn btn-facebook">Purchase Now</a>
              </div>
          </div>
      </div>
      <!--/.row-->
  </div>
  <!--/.container-->
</section>
<section id="contact-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
              <h2 class="color-10">Don't hesitate to reach us</h2>
              <p class="color-7 lead mt-3 pr-lg-4">We are a community driven, open minded team. Share your thoughts, advices or insights with us.</p>
          </div>
          <div class="col-lg-10 mt-4">
              <form [formGroup]="contactForm" class="zform p-3 p-md-6 background-2 radius-secondary border color-2" (ngSubmit)="submitContactForm()">
                  <div class="row justify-content-center">
                      <div class="col-md-12">
                          <!-- <div class="form-group">
                              <input class="form-control background-white border-2x" type="hidden" name="to" value="username@domain.extension" />
                          </div> -->
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="ls text-uppercase color-8 fw-700 mb-0" for="name">Name</label>
                              <input class="form-control background-white" id="name" formControlName="name" type="text" name="name" required="required" />
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="ls text-uppercase color-8 fw-700 mb-0" for="email">Email</label>
                              <input class="form-control background-white" id="email" formControlName="email" type="text" name="email" required="required" />
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-group">
                              <label class="ls text-uppercase color-8 fw-700 mb-0" for="contact">Message</label>
                              <textarea class="form-control background-white" id="contact" rows="8" name="message" formControlName="contact"></textarea>
                          </div>
                      </div>
                      <div class="col-md-6 text-center mt-4">
                          <input class="btn btn-primary btn-block" type="submit" name="submit" value="Send!" />
                      </div>
                  </div>
                  <div class="zform-feedback mt-3"></div>
              </form>
          </div>
      </div>
      <!--/.row-->
  </div>
  <!--/.container-->
</section>


<!--    JavaScripts-->
<!--    =============================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="./../assets/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="./../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../assets/js/imagesloaded.pkgd.js"></script>
<script src="./../assets/lib/@fontawesome/js/all.min.js"></script>
<script src="./../assets/js/TweenMax.js"></script>
<script src="./../assets/js/CustomEase.js"></script>
<script src="./../assets/js/ScrollToPlugin.js"></script>
<script src="./../assets/js/Utils.js"></script>
<script src="./../assets/js/detector.js"></script>
<script src="./../assets/js/inertia.js"></script>
<script src="./../assets/lib/sticky-kit/dist/sticky-kit.min.js"></script>
<script src="./../assets/lib/stickyfilljs/dist/stickyfill.min.js"></script>
<script src="./../assets/js/stickykit.js"></script>
<script src="./../assets/js/stickyfill.js"></script>
<script src="./../assets/js/zanimation.js"></script>
<script src="./../assets/js/border-animation.js"></script>
<script src="./../assets/lib/remodal/dist/remodal.js"></script>
<script src="./../assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="./../assets/lib/semantic-ui-dropdown/dropdown.min.js"></script>
<script src="./../assets/lib/semantic-ui-accordion/accordion.min.js"></script>
<script src="./../assets/lib/semantic-ui-transition/transition.min.js"></script>
<script src="./../assets/lib/lightbox2/dist/js/lightbox.js"></script>
<script src="./../assets/lib/tableCollation.js"></script>
<script src="./../assets/js/countup.js"></script>
<script src="./../assets/js/googlemap.js"></script>
<script src="./../assets/lib/rellax/rellax.min.js"></script>
<script src="./../assets/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="./../assets/lib/isotope-packery/packery-mode.pkgd.min.js"></script>
<script src="./../assets/lib/typed.js/lib/typed.min.js"></script>
<script src="./../assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="./../assets/lib/flexslider/jquery.flexslider-min.js"></script>
<!--script(src!='https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap' async)-->
<!-- "Replace the source with this link. Note: YOUR_API_KEY should be replaced with your API key"-->
<script src="./../assets/js/core.js"></script>


<!-- <section class="main-content">
  <h1>ABA Basketball</h1>
  <p>Take ownership of your very own basketball franchise. Using our very own simulation engine, where you can compete
    against other users in your own league.</p>
  <ul>
    <li>Draft your initial team</li>
    <li>Manage team signings and waivers</li>
    <li>Manage your team's contracts and salary cap</li>
    <li>Manage your team lineups and strategies</li>
  </ul>
  <p>Want to run your own league? Contact us with your enquiry.</p>
  <img src="/assets/bball_background.jpg">
</section> -->

<!-- <div class="cardContainer">
  <div class="card" style="background-color:rgb(22, 24, 100);">
    <h2>Login</h2>
    <form [formGroup]="loginForm" accept-charset="UTF-8" role="form" (ngSubmit)="login()">
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="yourmail@example.com" name="username" type="text"
            formControlName="username">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Password" name="password" type="password" value=""
            formControlName="password">
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
      </fieldset>
    </form>
  </div>
  <div class="card" style="background-color:rgb(12, 126, 120);" *ngIf="this.availableTeams">
    <h2>Register</h2>
    <form [formGroup]="registerForm" accept-charset="UTF-8" role="form" (ngSubmit)="register()">
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="Username" name="username" type="text" formControlName="username">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Password" name="password" type="password" value=""
            formControlName="password">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Confirm Password" name="confirmpassword" type="password" value=""
            formControlName="confirmPassword">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="yourmail@example.com" name="email" type="text"
            formControlName="email">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Name" name="name" type="text" value="" formControlName="name">
        </div> -->

        <!-- Not in use -->
        <!-- <div class="form-group">
          <input class="form-control" placeholder="City - e.g. Atlanta" name="teamname" type="text" value=""
            formControlName="teamname">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Mascot - e.g. Hawks" name="mascot" type="text" value=""
            formControlName="mascot">
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Short code - e.g. ATL" name="shortcode" type="text" value=""
            formControlName="shortcode">
        </div> -->

        <!-- <div class="form-group">
          <label class="col-md-6 control-label" for="textinput">Select your team: </label>
          <span>
            <select formControlName="teamSelection" teamSelection name="teamSelection">
              <option *ngFor="let team of this.selectableTeams" [value]="team.id">{{ team.teamname }} {{ team.mascot }}
              </option>
            </select>
          </span>
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
      </fieldset>
    </form>
  </div>
  <div class="card" style="background-color:rgb(12, 126, 120);" *ngIf="!this.availableTeams">
    <h2>Register</h2>
    <p>Currently no teams are available for registration. Please contact us and register your interest to go on our
      waiting list or to discuss options of starting your own league!</p>
    <p>New leagues will be set up shortly after interest has been provided.</p>
  </div>
  <div class="card" style="background-color:rgb(22, 24, 100);">
    <h2>Contact Us</h2>
    <p>Have any questions about our Basketball Simulation? Want to get your own compeition started up? Have some general
      feedback? Drop us a line!</p>
    <form [formGroup]="contactForm" class="form-horizontal" (ngSubmit)="submitContactForm()">
      <div class="form-row">
        <div class="col-md-6 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="col-md-6 form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@example.com" formControlName="email">
        </div>
      </div>
      <div class="form-group ">
        <label for="contact">Your Message</label>
        <textarea class="form-control" placeholder="Message" id="contact" formControlName="contact"></textarea>
      </div>
      <input class="btn btn-lg btn-success btn-block" type="submit" value="Send Message">
    </form>
  </div>
</div> -->