table {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #5452c0;
    text-decoration: underline;
    cursor: pointer;
  }